// Auctionlance colors
$primary-color: #E21250;
$secondary-color: #E27B36;
$auctionlance-gray: #A4A1A2;
$auctionlance-dark-gray: #C4C4C4;
$mobile-nav-color: #DFD4D4;
$border-color: #E3E3E3;
$auct-white: #FFF;

// heading sizes
$heading: 34px;
$heading-sm: 18px;

$subtitle: 18px;
$subtitle-sm: 14px;

// Break Points
$mobile: 768px

