// Auctionlance colors
$primary-color: #D6292D;
$secondary-color: #E27B36;
$auctionlance-gray: #A4A1A2;
$auctionlance-dark-gray: #C4C4C4;

// heading sizes
$heading: 34px;
$heading-sm: 18px;

$subtitle: 18px;
$subtitle-sm: 14px;

// Break Points
$mobile: 768px

