@import "reset";
@import "variables";
@import "utilities";
@import "mixins";

html {
    scroll-behavior: smooth;
    transition: all 500ms;
    font-family: 'Titillium Web', sans-serif;
}

::selection {
    @include auct-bg-gradient;
    color: $auct-white;
}

h1 {
    font-size: $heading;
    @media screen and (max-width: $mobile){
        & {
            font-size: $heading-sm;
        }
    }
}

/***
    * Navbar
***/
nav {
    height: 101px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 0 39px;
    align-items: center;
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;

    .hamburger-menu, .mb-nav-link,  .mb-nav-sidebar {
        display: none;
    }



    @media screen and (max-width: $mobile) {
        & {
            height: 99px;
            position: static;
            background-color: $mobile-nav-color;
            box-shadow: none;
            justify-content: space-between;
            align-items: flex-start;
            padding: 18px;

            .hamburger-menu {
                display: flex;
                flex-direction: column;
                cursor: pointer;
                .ham {
                    width: 20.56px;
                    border: 3px solid #000000;
                    margin-bottom: 2px;
                }
            }

            .mb-nav-link {
                display: block;
                font-family: 'Titillium Web', sans-serif;
                margin-top: 5px;
                margin-right: -10px;
                font-weight: 600;

            }
            .mb-nav-sidebar.open {
                display: block;
            }
            .mb-nav-sidebar {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                z-index: 90000;
                .wrapper {
                    display: flex;
                    height: 300vh;

                    .menu {
                        background-color: $primary-color;
                        @include auct-bg-gradient;
                        color: #fff;
                        flex-basis: 70%;
                        padding: 20px 45px;

                        div {
                            display: flex;
                            justify-content: flex-end;
                            font-size: 20px;
                            font-weight: 600;
                            cursor: pointer;
                        }

                        .mobile-links {
                            margin-top: 65px;

                            .mb-nav-item {
                                margin-bottom: 30px;
                                a {
                                    color: #fff;
                                }
                            }
                        }
                    }
                    .overlay {
                        background-color: rgba(0,0,0,0.8);
                        flex-basis: 30%;
                    }
                }
            }
        }
    }
    .mobile-search {
        display: none;

        @media screen and (max-width: $mobile) {
            & {
                display: flex;
                justify-content: space-between;
                padding: .3rem .5rem;
                width: 90%;
                position: absolute;
                top: 70px;
                left: 10px;
                // height: 31px;
                background: #FFFFFF;
                border: 1px solid #C4C4C4;
                border-radius: 2px;

                .mobile-search__box {
                    border: none;
                    width: 100%;
                    margin-left: 10px;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }

    a.brand {
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        font-size: 28px;
        color: $primary-color;
        @include auct-text-gradient;
        text-transform: uppercase;

        @media screen and (max-width: $mobile) {
            & {
                font-size: 18px;
                margin-left: 35px;
                margin-right: 20px;
            }
        }
    }

    .nav-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;

        @media screen and (max-width: $mobile) {
            display: none;
        }
    }
    .left-nav, .right-nav {
        font-family: 'Titillium Web', sans-serif;
        display: flex;
        align-items: flex-end;

        .nav-link {
            margin: 0 20px;
            a {
                &:hover {
                    @include auct-text-gradient;
                }
            }
        }
    }

}

/***
    * Navbar Dropdown
***/
.nav-dropdown.open {
    display: block;
}
.nav-dropdown {
    display: none;
    position: fixed;
    top: 5rem;
    right: 3rem;
    background-color: $auct-white;
    transition: all 500ms;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px $auctionlance-dark-gray;

    li {
        margin: 1rem 0;
        padding: 5px 66px 5px 14px;
        font-size: 14px;
    }
    .dropdown-divider {
        border-top: 1px solid #e1e4e8;
        display: block;
        height: 0;
        margin: 8px 0;
    }
}

/***
    * Hero section
***/

.hero {
    @include auct-bg-gradient;
    margin-top: 102px;
    height: 454px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $mobile) {
        & {
            height: 199px;
            margin-top: 0;
        }
    }
    .hero__img {
        @media screen and (max-width: $mobile) {
            & {
                width: 144px;
                height: 107px;
            }
        }
    }
    .hero__info {
        align-self: flex-start;
        margin-top: 9%;
        color: #FFFFFF;
        .hero-title {
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            font-size: $heading;
            margin-bottom: 14px;
            @media screen and (max-width: $mobile) {
                font-size: $heading-sm;
                margin-bottom: 4px;
            }
        }
        .hero-subtitle {
            font-style: normal;
            line-height: normal;
            font-size: $subtitle;
            margin-bottom: 47px;

            @media screen and (max-width: $mobile) {
                & {
                    font-weight: normal;
                    font-size: $subtitle-sm;
                    margin-bottom: 12px;
                }
            }
        }

        .hero-search {
            width: 620px;
            height: 62px;
            background: #FFFFFF;
            border: 1px solid #E3E3E3;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 2px;
            padding-left: 20px;

            display: flex;

            .hero-search__box {
                margin-left: 10px;
                font-style: normal;
                line-height: normal;
                font-size: 16px;
                color: #8C8787;
                border: none;
                width: 100%;
                &:focus {
                    outline: transparent;
                }
            }

            @media screen and (max-width: $mobile) {
                & {
                    display: none;
                }
            }
        }

    }

}

@media screen and (max-width: $mobile) {
    .hero {
        flex-wrap: wrap;
    }
}

/***
    * Explore section
***/
.explore, .featured, .how-auctionlance-works {
    margin-top: 115px;
    margin-left: 111px;
    margin-right: 111px;
}

@media screen and (max-width: $mobile) {
    .explore, .featured, .how-auctionlance-works {
        margin-top: 24px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.categories {
    margin-left: 90px;
    margin-right: 90px;


    @media screen and (max-width: $mobile) {
        & {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}
.explore {

    .categories {

        display: flex;
        justify-content: center;

        @media screen and (max-width: $mobile) {
            & {
                flex-wrap: wrap;
                justify-content: flex-start;
            }
        }
        .category {
            width: 100%;
            margin: 10px 80px 93px 80px;
            text-align: center;
            @media screen and (max-width: $mobile) {
                & {
                    width: auto;
                    margin: 10px 8px 20px 15px;

                }
            }
            p {
                margin-top: 19px;
                font-style: normal;
                line-height: normal;
                font-size: 16px;
                color: #4C4848;

                @media screen and (max-width: $mobile) {
                    & {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.section-heading {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 26px;
    color: #4C4848;
    margin-bottom: 75px;

    @media screen and (max-width: $mobile) {
        & {
            font-size: 18px;
            margin-bottom: 32px;
        }
    }
}


/***
* Featured gigs
***/

.featured {
    .featured-gigs {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 20px;
        grid-row-gap: 220px;
        margin-bottom: 2rem;
        .featured-gig {
            width: 100%;
            background: #FFFFFF;
            border-color: transparent;
            box-sizing: border-box;
            &:hover .featured-gig__body{
                transform: translateY(-10px);
            }

            &:hover .featured-gig__image {
                transform: scale(1.000001);
            }

            .featured-gig__body {
                position: absolute;
                max-width: 266.75px;
                background-color: #242729;
                border-radius: 10px;
                box-sizing: border-box;
                margin-top: -20px;
                padding-top: 20px;
                box-shadow: 0 1px 4px 0px #272727;
                transition: all .1s;
            }

            .featured-gig__image {
                z-index: -23 !important;
                border-radius: 10px;
                transition: all .1s;
                width: 100%;
                height: 100%;
            }
            @media screen and (max-width: $mobile) {
                margin-left: 0;
                margin-right: 10px;
            }
            .featured-gig__author {
                display: flex;

                .featured-gig__author-name {
                    font-style: italic;
                    line-height: normal;
                    font-size: 18px;
                    color: #BFBEBE;
                    margin-left: 10px;
                    margin-top: 5px;
                }


            }
            .featured-gig__description {
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 16px;
                color: #BFBEBE;
            }

            .featured-gig__author {
                margin: 0 18px;
            }
            .featured-gig__description {
                margin: 9px 18px;
            }
        }
    }

    @media screen and (max-width: $mobile) {
        .featured-gigs {
            overflow: auto;
        }
    }

    .featured-gig__footer {
        display: flex;
        align-items: center;
        padding: 15px 8px;
        justify-content: flex-end;
        border-top: 1px solid rgba(14, 13, 13, 0.3);
        text-transform: uppercase;
        p {
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 14px;
            color: #BFBEBE;

        }
    }
}


/***
* Need a freelancer?
***/

.need-freelancer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 225px 58px;
    height: 393px;
    background-color: $primary-color;
    background: linear-gradient(270.27deg, rgba(255, 255, 255, 0) 3.36%, #E27B36 124.02%), #E21250;

    @media screen and (max-width: $mobile) {
        & {
            margin: 45px 0;
            height: 133px;
            padding: 19px 0
        }
    }
    h2 {
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        font-size: 40px;
        color: #FFFFFF;
        margin-bottom: 19px;

        @media screen and (max-width: $mobile) {
            & {
                font-size: 16px;
                margin-bottom: 11px;
            }
        }
    }
    p {
        font-style: normal;
        line-height: normal;
        font-size: 18px;
        color: #FFFFFF;
        margin-bottom: 49px;

        @media screen and (max-width: $mobile) {
            & {
                font-size: 12px;
                margin-bottom: 17px;
                font-weight: 500;
            }
        }
    }
}


.auctionlance-btn {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 23px;
    color: #4C4848;
    padding: 20px 55px;

    @media screen and (max-width: $mobile) {
        & {
            font-size: 13px;
            padding: 10px 20px;
            border-radius: 2px;
        }
    }
}

.how-auctionlance-works {
    @media screen and (max-width: $mobile) {
        & {
            overflow: auto;
        }
    }
    .cards {
        display: flex;
        margin: 10px;
        .how-card {
            width: 276px;
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            margin-right: 36px;
            padding: 27px 23px;

            @media screen and (max-width: $mobile) {
                & {
                    flex-shrink: 0;
                    margin-right:16px;
                    flex-basis: 247px;
                }
            }
            .how-card__numbering {
                width: 61px;
                height: 58px;
                background: #FFFFFF;
                border: 2px solid #D6292D;
                box-sizing: border-box;
                padding: 13px 20px;
                font-style: normal;
                font-weight: bold;
                line-height: normal;
                font-size: 26px;
                color: #D6292D;
                margin-bottom: 22px;
            }

            .how-card__title {
                margin-bottom: 22px;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 18px;
                color: #4C4848;
            }

            .how-card__description {
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 18px;
                color: #8C8787;
                width: 100%;

                @media screen and (max-width: $mobile) {
                    & {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}


footer {
    margin-top: 195px;
    background-color: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 44px 64px;

    @media screen and (max-width: $mobile) {
        & {
            padding: 20px 15px;
            margin-top: 88px;
        }
    }
    h3.footer__brand {

        font-style: normal;
        font-weight: 800;
        line-height: normal;
        font-size: 25px;
        color: #D6292D;
        @include auct-text-gradient;
        text-transform: uppercase;
        margin-bottom: 37px;

        @media screen and (max-width: $mobile) {
            & {
                margin-bottom: 15px;
                font-size: 18px;
            }
        }
    }

    .footer-details-container {
        margin-left: 114px;
        display: flex;

        @media screen and (max-width: $mobile) {
            margin-left: 15px;
        }

        @media screen and (max-width: $mobile) {
            & {
                flex-wrap: wrap;
            }
        }
        .footer-details {
            margin-right: 80px;
            .footer-details__title {
                font-style: normal;
                line-height: normal;
                font-weight: bold;
                font-size: 20px;
                color: #4C4848;

                @media screen and (max-width: $mobile) {
                    & {
                        font-size: 16px;
                    }
                }

            }
            .footer__links {
                font-style: normal;
                line-height: normal;
                font-size: 16px;
                width: 155px;
                li> a {
                color: #4C4848;
                }

                @media screen and (max-width: $mobile) {
                    & {
                        font-size: 14px;
                    }
                }
            }

            .footer__links, .footer__links li {
                margin-top: 13px;
                @media screen and (max-width: $mobile) {
                    &:last-child {
                        margin-bottom: 20px;
                    }
                }
            }
        }

    }
    hr {
        margin-top: 72px;
        border: 1px solid #e3e3e3;

    }
}


/***
* AUTHENTICATION FORMS
**/
.authentication-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 633px;
    width: 80%;
    margin: 0 auto;

    @media screen and (max-width: $mobile) {
        & {
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0;
            margin-top: 50px;
        }
    }
    .auth-info {
        background-color: $primary-color;
        @include auct-bg-gradient;
        padding: 48px;
        flex-basis: 50%;
        p {
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            font-size: 26px;
            color: #FFFFFF;

        }
        img {
            width: 390px;
            height: 290px;
        }

        @media screen and (max-width: $mobile) {
            & {
                display: none;
            }
        }
    }
    .auth-form {
        padding: 0px 48px;
        flex-basis: 50%;
        margin-top: 20px;

        @media screen and (max-width: $mobile) {
            & {
                padding: 0px 22px;
            }
        }
        .section-heading {
            margin-bottom: 24px !important;
        }
        .auct-form-group {
            margin-bottom: 30px;
            .auct-input {
                width: 389px;
                height: 39px;
                background: $auct-white;
                border: 1px solid $border-color;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
                border-radius: 2px;
                padding: 6px 30px 6px 30px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                font-size: 14px;
                color: #8C8787;
                @media screen and (max-width: $mobile) {
                    & {
                        width: 250px;
                    }
                }

                &:focus {
                    outline-color: $secondary-color;
                }
            }

        }
        .auct-form-group:last-child {
            margin-bottom: 20px !important;
        }
        .auct-btn {
            color: $auct-white;
            @include auct-bg-gradient;
            border: none;
            cursor: pointer;
            width: 451px;
            height: 53px;
            border-radius: 2px;
            font-size: 14px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
            padding: 6px 30px 6px 30px;

            @media screen and (max-width: $mobile) {
                & {
                    width: 315px;
                }
            }

        }
        .auth-text {
            font-size: 14px;
            margin-bottom: 30px;
            color: #8C8787;
            margin-top: -20px;

            a {
                @include auct-text-gradient;
            }
        }
    }
}

/***
** Auctoboard
**/
.auctoboard-wrapper {
    background-color: $auct-white;
    padding-right: 16px;
    padding-left: 16px;
    margin: 150px 150px ;
    display: flex;

    .aucto-sidebar {
        padding-right: 16px;
        width: 245px;
        a {
            color: $primary-color;
            &:hover, &:active {
                text-decoration: underline
            }
        }
        .avatar {
            border: 1px solid $border-color;
            padding: 10px;
            border-radius: 2px;
            .user-avatar {
                width: 100%;
            }
        }
        .user-names {
            padding: 16px 0;
            .user-fullname {
                font-size: 26px;
            }
            .username {
                color: #666;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
        }
        .btn-section {
            margin-top: 12px;
        }
    }
}

