/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  scroll-behavior: smooth;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

h1 {
  font-size: 34px;
  font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 18px;
  }
}

/***
    * Navbar
***/
nav {
  height: 101px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 39px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
}

nav .hamburger-menu, nav .mb-nav-link {
  display: none;
}

@media screen and (max-width: 768px) {
  nav {
    height: 99px;
    position: static;
    background-color: #DFD4D4;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 18px;
  }
  nav .hamburger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .hamburger-menu .ham {
    width: 20.56px;
    border: 3px solid #000000;
    margin-bottom: 2px;
  }
  nav .mb-nav-link {
    display: block;
    font-family: 'Lato', sans-serif;
    margin-top: 5px;
    margin-right: -10px;
    font-weight: 600;
  }
}

nav .mobile-search {
  display: none;
}

@media screen and (max-width: 768px) {
  nav .mobile-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: .3rem .5rem;
    width: 90%;
    position: absolute;
    top: 70px;
    left: 10px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 2px;
  }
  nav .mobile-search .mobile-search__box {
    border: none;
    width: 100%;
    margin-left: 10px;
  }
  nav .mobile-search .mobile-search__box:focus {
    outline: none;
  }
}

nav a.brand {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 28px;
  color: #D6292D;
  background: -webkit-linear-gradient(#E27B36, #D6292D);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  nav a.brand {
    font-size: 18px;
    margin-left: 35px;
    margin-right: 20px;
  }
}

nav .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

@media screen and (max-width: 768px) {
  nav .nav-wrapper {
    display: none;
  }
}

nav .left-nav, nav .right-nav {
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav .left-nav .nav-link, nav .right-nav .nav-link {
  margin: 0 20px;
}

nav .left-nav .nav-link a, nav .right-nav .nav-link a {
  -webkit-transition: all 1s;
  transition: all 1s;
}

nav .left-nav .nav-link a:hover, nav .right-nav .nav-link a:hover {
  background: -webkit-linear-gradient(#E27B36, #D6292D);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/***
    * Hero section
***/
.hero {
  background-color: #D6292D;
  background: linear-gradient(270.26deg, rgba(255, 255, 255, 0) 3.36%, #E27B36 124.02%), #E21250;
  margin-top: 102px;
  height: 454px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .hero {
    height: 199px;
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .hero .hero__img {
    width: 144px;
    height: 107px;
  }
}

.hero .hero__info {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 9%;
  color: #FFFFFF;
}

.hero .hero__info .hero-title {
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 34px;
  margin-bottom: 14px;
}

@media screen and (max-width: 768px) {
  .hero .hero__info .hero-title {
    font-size: 18px;
    margin-bottom: 4px;
  }
}

.hero .hero__info .hero-subtitle {
  font-family: 'Lato', sans-serif;
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 18px;
  margin-bottom: 47px;
}

@media screen and (max-width: 768px) {
  .hero .hero__info .hero-subtitle {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 12px;
  }
}

.hero .hero__info .hero-search {
  width: 620px;
  height: 62px;
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .hero__info .hero-search .hero-search__box {
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
  font-size: 16px;
  color: #8C8787;
  border: none;
  width: 100%;
}

.hero .hero__info .hero-search .hero-search__box:focus {
  outline: transparent;
}

@media screen and (max-width: 768px) {
  .hero .hero__info .hero-search {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/***
    * Explore section
***/
.explore, .featured, .how-auctionlance-works {
  margin-top: 115px;
  margin-left: 111px;
  margin-right: 111px;
}

@media screen and (max-width: 768px) {
  .explore, .featured, .how-auctionlance-works {
    margin-top: 24px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.categories {
  margin-left: 90px;
  margin-right: 90px;
}

@media screen and (max-width: 768px) {
  .categories {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.explore .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .explore .categories {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.explore .categories .category {
  width: 100%;
  margin: 10px 80px 93px 80px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .explore .categories .category {
    width: auto;
    margin: 10px 8px 20px 15px;
  }
}

.explore .categories .category p {
  margin-top: 19px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  color: #4C4848;
}

@media screen and (max-width: 768px) {
  .explore .categories .category p {
    font-size: 14px;
  }
}

.section-heading {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 26px;
  color: #4C4848;
  margin-bottom: 75px;
}

@media screen and (max-width: 768px) {
  .section-heading {
    font-size: 18px;
    margin-bottom: 32px;
  }
}

/***
* Featured gigs
***/
.featured .featured-gigs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured .featured-gigs .featured-gig {
  width: 283px;
  height: 342px;
  background: #FFFFFF;
  border: 1px solid #DED5D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 84px;
  margin-left: 56px;
}

@media screen and (max-width: 768px) {
  .featured .featured-gigs .featured-gig {
    margin-left: 0;
    margin-right: 10px;
  }
}

.featured .featured-gigs .featured-gig .featured-gig__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured .featured-gigs .featured-gig .featured-gig__author .featured-gig__author-name {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  color: #4C4848;
  margin-left: 10px;
  margin-top: 5px;
}

.featured .featured-gigs .featured-gig .featured-gig__description {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  color: #8C8787;
  margin-top: 19px;
}

.featured .featured-gigs .featured-gig .featured-gig__author, .featured .featured-gigs .featured-gig .featured-gig__description {
  margin: 9px 18px;
}

@media screen and (max-width: 768px) {
  .featured .featured-gigs {
    overflow: auto;
  }
}

.featured .featured-gig__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 8px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-top: 1px solid rgba(196, 196, 196, 0.3);
  text-transform: uppercase;
}

.featured .featured-gig__footer p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  color: #3C3A3A;
}

/***
* Need a freelancer?
***/
.need-freelancer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 154px 58px;
  height: 393px;
  background-color: #D6292D;
  background: linear-gradient(270.27deg, rgba(255, 255, 255, 0) 3.36%, #E27B36 124.02%), #E21250;
}

@media screen and (max-width: 768px) {
  .need-freelancer {
    margin: 45px 0;
    height: 133px;
    padding: 19px 0;
  }
}

.need-freelancer h2 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 40px;
  color: #FFFFFF;
  margin-bottom: 19px;
}

@media screen and (max-width: 768px) {
  .need-freelancer h2 {
    font-size: 16px;
    margin-bottom: 11px;
  }
}

.need-freelancer p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 49px;
}

@media screen and (max-width: 768px) {
  .need-freelancer p {
    font-size: 12px;
    margin-bottom: 17px;
    font-weight: 500;
  }
}

.auctionlance-btn {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 23px;
  color: #4C4848;
  padding: 20px 55px;
}

@media screen and (max-width: 768px) {
  .auctionlance-btn {
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 2px;
  }
}

@media screen and (max-width: 768px) {
  .how-auctionlance-works {
    overflow: auto;
  }
}

.how-auctionlance-works .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.how-auctionlance-works .cards .how-card {
  width: 276px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-right: 36px;
  padding: 27px 23px;
}

@media screen and (max-width: 768px) {
  .how-auctionlance-works .cards .how-card {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 16px;
    -ms-flex-preferred-size: 247px;
        flex-basis: 247px;
  }
}

.how-auctionlance-works .cards .how-card .how-card__numbering {
  width: 61px;
  height: 58px;
  background: #FFFFFF;
  border: 2px solid #D6292D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 13px 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 26px;
  color: #D6292D;
  margin-bottom: 22px;
}

.how-auctionlance-works .cards .how-card .how-card__title {
  margin-bottom: 22px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  color: #4C4848;
}

.how-auctionlance-works .cards .how-card .how-card__description {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  color: #8C8787;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .how-auctionlance-works .cards .how-card .how-card__description {
    font-size: 14px;
  }
}

footer {
  margin-top: 195px;
  background-color: #e3e3e3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 44px 64px;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 20px 15px;
    margin-top: 88px;
  }
}

footer h3.footer__brand {
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 25px;
  color: #D6292D;
  background: -webkit-linear-gradient(#E27B36, #D6292D);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 37px;
}

@media screen and (max-width: 768px) {
  footer h3.footer__brand {
    margin-bottom: 15px;
    font-size: 18px;
  }
}

footer .footer-details-container {
  margin-left: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  footer .footer-details-container {
    margin-left: 15px;
  }
}

@media screen and (max-width: 768px) {
  footer .footer-details-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer .footer-details-container .footer-details {
  margin-right: 80px;
}

footer .footer-details-container .footer-details .footer-details__title {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  color: #4C4848;
}

@media screen and (max-width: 768px) {
  footer .footer-details-container .footer-details .footer-details__title {
    font-size: 16px;
  }
}

footer .footer-details-container .footer-details .footer__links {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  width: 155px;
}

footer .footer-details-container .footer-details .footer__links li > a {
  color: #4C4848;
}

@media screen and (max-width: 768px) {
  footer .footer-details-container .footer-details .footer__links {
    font-size: 14px;
  }
}

footer .footer-details-container .footer-details .footer__links, footer .footer-details-container .footer-details .footer__links li {
  margin-top: 13px;
}

@media screen and (max-width: 768px) {
  footer .footer-details-container .footer-details .footer__links:last-child, footer .footer-details-container .footer-details .footer__links li:last-child {
    margin-bottom: 20px;
  }
}

footer hr {
  margin-top: 72px;
  border: 1px solid #c4c4c4;
}
/*# sourceMappingURL=auctionlance.css.map */